@model ZorgApp2.Models.Medewerker

@{
    ViewData["Title"] = "UpdateMedewerker";
}

<form method="post" asp-action="UpdateMedewerker">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>NAW Gegevens</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Gebruikersnaam" class="control-label"></label>
                    <input asp-for="Gebruikersnaam" class="form-control" />
                    <span asp-validation-for="Gebruikersnaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Wachtwoord" class="control-label"></label>
                    <input asp-for="Wachtwoord" class="form-control" />
                    <span asp-validation-for="Wachtwoord" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div style="margin-top: 130px">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <input type="submit" value="Verwijderen" asp-action="VerwijderMedewerker"
                           class="btn btn-danger" style="margin: 20px; width: 100%" />
                </div>
                <div class="col-md-3">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Opslaan" asp-action="UpdateMedewerker"
                           class="btn btn-primary" style="margin: 20px; width: 100%" />
                </div>
            </div>
        </div>
    </div>
</form>

