@model ZorgApp2.Models.Klant
@{
    ViewData["Title"] = "Index";
}
@{ 
    List<Taak> Taken = ViewData["Taken"] as List<Taak>;
}
<h1>Edit Klant</h1>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Naam" class="control-label"></label>
            <input asp-for="Naam" class="form-control" />
            <span asp-validation-for="Naam" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Adres" class="control-label"></label>
            <input asp-for="Adres" class="form-control" />
            <span asp-validation-for="Adres" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Postcode" class="control-label"></label>
            <input asp-for="Postcode" class="form-control" />
            <span asp-validation-for="Postcode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Woonplaats" class="control-label"></label>
            <input asp-for="Woonplaats" class="form-control" />
            <span asp-validation-for="Woonplaats" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" asp-action="UpdateKlant" value="Opslaan" class="btn btn-primary" />
        </div>
    </div>
</div>
<table id="myTable">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Omschrijving
            </th>
            <th>
                Extra_info
            </th>
        </tr>
    </thead>
    <!--Tabel moet dropdown content worden-->
    <tbody>
        @foreach (Taak taak in Taken)
        {
        <tr>
            <th>
                @taak.Id
            </th>
            <th>
                @taak.Omschrijving
            </th>
            <th>
                @taak.Extra_info
            </th>
        </tr>
        }
    </tbody>
</table>
<form method="post" asp-action="ToevoegenKSTaak">
    <input type="text" />
</form>
@section Scripts{
    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

