@model ZorgApp2.Models.Taak

@{
    ViewData["Title"] = "ToevoegenTaakForm";
}

<h1>Taak Toevoegen</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ToevoegenTaak">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Omschrijving" class="control-label"></label>
                <input asp-for="Omschrijving" class="form-control" />
                <span asp-validation-for="Omschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extra_info" class="control-label"></label>
                <input asp-for="Extra_info" class="form-control" />
                <span asp-validation-for="Extra_info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Taak Toevoegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

